@import '../assets/config/variables.less';

.header {
  width: 100%;
  background-color: @primary-dark;

  &__title {
    text-align: center;
    color: @white;
  }
}

.game-area {
  display: flex;

  & > * {
    padding: 2rem;
    border: solid @primary 1px;
  }
  .player-informations {
    width: 60%;
  }
  .battle {
    width: 40%;
  }
}
