<header class="header">
  <h1 class="header__title">Welcome to Game-CLI {{ player.name }}!</h1>
</header>
<main class="game-area">
  <section class="player-informations">
    <section class="inventory">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores
      voluptates nisi tempore quos illo suscipit consequuntur neque sapiente
      perspiciatis numquam hic eum ipsum consectetur, eveniet vel repudiandae,
      voluptas totam dolor. Magnam doloribus atque dolor repudiandae hic,
      temporibus, nesciunt assumenda vitae dolorem minima illo ex sapiente,
      omnis eum voluptatem impedit.
    </section>
    <section class="spell">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores
      voluptates nisi tempore quos illo suscipit consequuntur neque sapiente
      perspiciatis numquam hic eum ipsum consectetur, eveniet vel repudiandae,
      voluptas totam dolor. Magnam doloribus atque dolor repudiandae hic,
      temporibus, nesciunt assumenda vitae dolorem minima illo ex sapiente,
      omnis eum voluptatem impedit.
    </section>
    <section class="map">
      <app-map-global [discovered]="player.map.discovered"></app-map-global>
    </section>
  </section>

  <section class="battle">
    <p>
      > Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      temporibus?<br />
      > Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      temporibus?<br />
      > Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      temporibus?<br />
      > Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      temporibus?<br />
      > Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      temporibus?<br />
      > Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
      temporibus?<br />
    </p>
  </section>
</main>
